<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-white text-lg font-bold">Logo</a>
        <div class="hidden md:flex space-x-4">
            <a href="#" class="text-gray-300 hover:text-white">Home</a>
            <a href="#" class="text-gray-300 hover:text-white">Sobre</a>
            <a href="#" class="text-gray-300 hover:text-white">Serviços</a>
            <a href="#" class="text-gray-300 hover:text-white">Contato</a>
        </div>
        <div class="md:hidden">
            <button id="menu-button" class="text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>
    <div id="mobile-menu" class="md:hidden">
        <a href="#" class="block px-4 py-2 text-gray-300 hover:text-white">Home</a>
        <a href="#" class="block px-4 py-2 text-gray-300 hover:text-white">Sobre</a>
        <a href="#" class="block px-4 py-2 text-gray-300 hover:text-white">Serviços</a>
        <a href="#" class="block px-4 py-2 text-gray-300 hover:text-white">Contato</a>
    </div>
</nav>

<br><br><br><br><br><br>
<div class="flex justify-center items-center my-6 md:my-12 md:space-x-8">
  
  <!-- Logo -->
  <div class="hidden md:block"> <!-- Esconde no mobile -->
    <%= image_tag 'valley.png', alt: 'Valley Logo', class: 'h-48 w-48 rounded-full shadow-lg' %>
  </div>

  <!-- Formulário de Login -->
  <div class="login w-full md:w-1/2 p-8 bg-gray-900 bg-opacity-95 rounded-lg shadow-2xl border border-gray-700">
    <h2 class="text-3xl font-bold text-white mb-6 text-center">Entrar</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'space-y-6' }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <!-- Email -->
      <div class="field">
        <%= f.label :email, class: 'block text-sm font-medium text-gray-200' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'mt-1 block w-full px-4 py-2 border border-gray-600 bg-gray-800 text-white rounded-lg shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm transition duration-200' %>
      </div>

      <!-- Senha -->
      <div class="field">
        <%= f.label :Senha, class: 'block text-sm font-medium text-gray-200' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'mt-1 block w-full px-4 py-2 border border-gray-600 bg-gray-800 text-white rounded-lg shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm transition duration-200' %>
      </div>

      <!-- Botão de Login -->
      <div class="actions">
        <%= f.submit "Entrar", class: 'w-full bg-blue-700 hover:bg-green-700 text-white font-bold py-3 px-4 rounded-lg shadow-lg transition-colors duration-300 ease-in-out' %>
      </div>
    <% end %>

    <!-- Link para recuperar senha -->
    <div class="mt-4 text-center">
      <a href="<%= new_password_path(resource_name) %>" class="text-sm text-gray-400 hover:text-white transition duration-200">Esqueceu sua senha?</a>
    </div>
  </div>
</div>



<script>
    const menuButton = document.getElementById('menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    menuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });
</script>
