<br><br><br>
<div class="flex justify-center items-center my-6 md:my-12 mt-12">
  <!-- Formulário de Login -->
  <div class="login w-full md:w-1/2 p-8 bg-gray-900 bg-opacity-95 rounded-lg shadow-2xl border border-gray-700">
    <h2 class="text-3xl font-bold text-white mb-6 text-center">Entrar</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'space-y-6' }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <!-- Email -->
      <div class="field">
        <%= f.label :email, class: 'block text-sm font-medium text-gray-200' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'mt-1 block w-full px-4 py-2 border border-gray-600 bg-gray-800 text-white rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm transition duration-200' %>
      </div>

      <!-- Senha -->
      <div class="field">
        <%= f.label :password, class: 'block text-sm font-medium text-gray-200' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'mt-1 block w-full px-4 py-2 border border-gray-600 bg-gray-800 text-white rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm transition duration-200' %>
      </div>

      <!-- Botão de Login -->
      <div class="actions">
        <%= f.submit "Entrar", class: 'w-full bg-blue-700 hover:bg-blue-800 text-white font-bold py-3 px-4 rounded-lg shadow-lg transition-colors duration-300 ease-in-out' %>
      </div>
    <% end %>

    <!-- Link para recuperar senha -->
    <div class="mt-4 text-center">
      <%= link_to 'Esqueceu sua senha?', new_password_path(resource_name), class: 'text-sm text-gray-400 hover:text-white transition duration-200' %>
    </div>

    <!-- Link para criar conta -->
    <div class="mt-2 text-center">
      <%= link_to 'Não tem uma conta? Crie uma agora', new_registration_path(resource_name), class: 'text-sm text-gray-400 hover:text-white transition duration-200' %>
    </div>
  </div>
</div>
