<aside id="sidebar-multi-level-sidebar" class="hidden md:block fixed top-0 left-0 z-50 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 bg-gray-800 dark:bg-gray-900" aria-label="Sidebar">
    <div class="h-full px-4 py-6 overflow-y-auto">
        <div class="text-center mb-4">
        <center>
            <%= image_tag 'valley.png', alt: 'Valley Logo', class: 'self-center', style: 'height: 90px; width: 90px;' %>
        </center>
        </div>
        <ul class="space-y-2 font-medium">
            <li>
                <%= link_to posts_path, class: 'flex items-center p-2 text-gray-100 rounded-lg hover:bg-teal-600 dark:hover:bg-gray-700 group' do %>
                    <i class="bi bi-bell-fill"></i>
                    <span class="ml-3">Notificações</span>
                <% end %>
            </li>
            <li>
                <%= link_to chats_path, class: 'flex items-center p-2 text-gray-100 rounded-lg hover:bg-teal-600 dark:hover:bg-gray-700 group' do %>
                    <i class="bi bi-chat-left-text-fill"></i>
                    <span class="ml-3">Chat</span>
                <% end %>
            </li>
            <li>
                <%= link_to projects_path, class: 'flex items-center p-2 text-gray-100 rounded-lg hover:bg-teal-600 dark:hover:bg-gray-700 group' do %>
                    <i class="bi bi-pc-display"></i>
                    <span class="ml-3">Projetos</span>
                <% end %>
            </li>
            <li>
                <%= link_to new_project_path, class: 'flex items-center p-2 text-gray-100 rounded-lg hover:bg-teal-600 dark:hover:bg-gray-700 group' do %>
                    <i class="bi bi-plus-circle-fill"></i>
                    <span class="ml-3">Novo Projeto</span>
                <% end %>
            </li>
            <li>
                <%= link_to posts_path, class: 'flex items-center p-2 text-gray-100 rounded-lg hover:bg-teal-600 dark:hover:bg-gray-700 group' do %>
                    <i class="bi bi-phone-fill"></i>
                    <span class="ml-3">Postagens</span>
                <% end %>
            </li>
            <li>
                <%= link_to perfil_path, class: 'flex items-center p-2 text-gray-100 rounded-lg hover:bg-teal-600 dark:hover:bg-gray-700 group' do %>
                    <i class="bi bi-person-circle"></i>
                    <span class="ml-3">Meu Perfil</span>
                <% end %>
            </li>
            <li>
                <%= link_to perfil_path, class: 'flex items-center p-2 text-gray-100 rounded-lg hover:bg-teal-600 dark:hover:bg-gray-700 group' do %>
                    <i class="bi bi-gear-fill"></i>
                    <span class="ml-3">Configurações</span>
                <% end %>
            </li>
            <li>
                <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'flex items-center p-2 text-gray-100 rounded-lg hover:bg-teal-600 dark:hover:bg-gray-700 group' do %>
                    <i class="bi bi-box-arrow-left"></i>
                    <span class="ml-3">Sair</span>
                <% end %>
            </li>
        </ul>
    </div>
</aside>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const btn = document.querySelector('[data-drawer-toggle]');
        const sidebar = document.getElementById(btn.getAttribute('data-drawer-target'));
        
        btn.addEventListener('click', () => {
            sidebar.classList.toggle('-translate-x-full');
            sidebar.classList.toggle('translate-x-0');
        });
    });
</script>
