<main class="mx-auto">
<section id="navbar" class="relative bg-cover-full bg-gray-600 bg-blend-multiply" style="background-image: url('https://raw.githubusercontent.com/JuanCoutinho/Valley/main/app/assets/images/background.jpg');">
    <nav class="bg-transparent border-transparent dark:bg-transparent">
        <div class="max-w-screen-xl mx-auto p-4">
            <div class="flex flex-wrap items-center justify-between">
                <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <%= image_tag 'valley.png', alt: 'Valley Logo', class: 'self-center hidden md:block', style: 'height: 70px; width: 70px;' %>
                </a>
                <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"></path>
                    </svg>
                </button>
                <div class="hidden w-full md:flex md:w-auto items-center justify-center" id="navbar-default">
                    <ul class="font-medium flex flex-col md:flex-row items-center justify-center p-4 md:p-0 mt-4 border border-transparent rounded-lg bg-transparent md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent dark:bg-transparent md:dark:bg-transparent dark:border-transparent">
                        <%= link_to 'Projetos', projects_path, class: 'text-white bg-teal-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>

                        <% unless user_signed_in? %>
                            <%= link_to 'Logar', new_user_session_path, class: 'text-white bg-teal-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
                            <%= link_to 'Cadastrar', new_user_registration_path, class: 'text-white bg-teal-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
                        <% end %>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <div id="home" class="px-4 mx-auto max-w-screen-xl text-center py-24">
        <center>
        <%= image_tag 'valley.png', alt: 'Valley Logo', class: 'self-center hidden md:block text-center', style: 'height: 220px; width: auto;' %>
        </center>
        <p class="mb-8 text-lg font-bold text-gray-300 lg:text-3xl">Conectando o amanhã.</p>
        <%= link_to 'Entrar no Site', new_user_registration_path, class: 'text-white bg-teal-500 hover:bg-teal-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>                     
    </div>
</section>
</main>