<%= turbo_stream_from "chat_messages_channel_#{@chat.id}" %>

<div class="flex flex-col h-screen bg-gray-900 text-white p-6">
 
 <div class="mb-4 flex items-center space-x-4">
  <% if @destination.profile_image.attached? %>
    <%= image_tag rails_blob_url(@destination.profile_image, only_path: true), class: "w-12 h-12 rounded-full" %>
  <% else %>
    <div class="w-12 h-12 bg-gray-600 rounded-full flex items-center justify-center text-gray-300 text-xl font-medium">
      <span>Sem Imagem</span>
    </div>
  <% end %>
  <p class="text-xl font-semibold text-gray-200">
    <%= @destination.name %>
  </p>
</div>



  <hr class="border-gray-700 mb-4">

 

  <!-- Chat Messages List -->
  <div id="chat-messages-list" class="flex flex-col space-y-4 overflow-y-auto h-96 border border-gray-700 p-4 rounded-lg bg-gray-800">
    <% @chat_messages.each do |message| %>
      <div class="flex items-start space-x-3">
      
    
          <span class="font-semibold text-teal-300"><%= message.sender.email.split('@').first %>:</span>
          <p class="text-gray-300 mt-1"><%= message.message %></p>
 
      </div>
    <% end %>
  </div>
  <br>
  <!-- Message Form -->
  <%= form_with model: ChatMessage.new, local: true do |f| %>
    <div class="flex mb-4">
      <%= f.hidden_field :chat_id, value: @chat.id %>
      <%= f.text_field :message, placeholder: "Digite sua mensagem...", class: "flex-1 p-3 border border-gray-700 rounded-lg bg-gray-800 text-white" %>
      <%= f.submit '➮', class: "ml-2 px-4 py-2 bg-teal-500 hover:bg-teal-600 text-white font-semibold rounded-lg" %>
    </div>
    <% end %>
  </div>
    