<%= form_with(model: project, class: "w-full mx-auto p-8 bg-gray-900 rounded-lg shadow-lg space-y-6") do |form| %>
  <% if project.errors.any? %>
    <div class="bg-red-600 text-white p-4 rounded-lg shadow-md">
      <h2 class="text-lg font-semibold mb-2">
        <%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:
      </h2>
      <ul class="list-disc list-inside space-y-1">
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="flex flex-col w-full">
      <%= form.label :title, "Nome do Projeto", class: "text-lg font-semibold text-gray-300 mb-2" %>
      <%= form.text_field :title, class: "border border-gray-600 bg-gray-800 text-gray-200 rounded-md p-4 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600 transition duration-300 ease-in-out w-full" %>
    </div>

    <div class="flex flex-col w-full">
      <%= form.label :github_link, "Link do GitHub", class: "text-lg font-semibold text-gray-300 mb-2" %>
      <%= form.text_field :github_link, class: "border border-gray-600 bg-gray-800 text-gray-200 rounded-md p-4 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600 transition duration-300 ease-in-out w-full" %>
    </div>

<div class="flex flex-col md:col-span-2 w-full">
  <%= form.label :ds_project, "Descrição", class: "text-lg font-semibold text-gray-300 mb-2" %>
  <%= form.text_area :ds_project, class: "border border-gray-600 bg-gray-800 text-gray-200 rounded-md p-4 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600 w-full h-32 transition duration-300 ease-in-out" %>
</div>

    <div class="flex flex-col w-full">
      <%= form.label :investment, "Investimento Necessário", class: "text-lg font-semibold text-gray-300 mb-2" %>
      <%= form.number_field :investment, step: "0.01", class: "border border-gray-600 bg-gray-800 text-gray-200 rounded-md p-4 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600 transition duration-300 ease-in-out w-full" %>
    </div>

    <div class="flex flex-col w-full">
      <%= form.label :image, "Imagem Principal", class: "text-lg font-semibold text-gray-300 mb-2" %>
      <%= form.file_field :image, class: "flex h-10 w-full rounded-md border border-gray-600 bg-gray-800 px-3 py-2 text-sm text-gray-200 file:border-0 file:bg-gray-700 file:text-gray-200 file:text-sm file:font-medium hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out" %>
    </div>

    <div class="flex flex-col md:col-span-2 w-full">
      <%= form.label :features, "Características", class: "text-lg font-semibold text-gray-300 mb-2" %>
      <%= form.text_area :features, class: "border border-gray-600 bg-gray-800 text-gray-200 rounded-md p-4 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600 w-full h-32 transition duration-300 ease-in-out" %>
    </div>

    <div class="flex flex-col md:col-span-2 w-full">
      <%= form.label :guide, "Guia de Uso", class: "text-lg font-semibold text-gray-300 mb-2" %>
      <%= form.text_area :guide, class: "border border-gray-600 bg-gray-800 text-gray-200 rounded-md p-4 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600 w-full h-32 transition duration-300 ease-in-out" %>
    </div>
  </div>

  <div>
    <%= form.submit "Enviar", class: "bg-blue-600 text-white rounded-md py-3 px-6 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 transition duration-300 ease-in-out w-full shadow-md" %>
  </div>
<% end %>
