
  <!-- Mobile menu button -->
  <button id="menu-toggle" class="lg:hidden p-2 mt-2 ms-3 text-gray-500 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z" clip-rule="evenodd"></path>
    </svg>
  </button>



  <div class="flex h-screen">

    <!-- Sidebar (Visible on PC only) -->
    <aside class="w-64 bg-gradient-to-r from-gray-900 to-gray-800 p-6 shadow-lg hidden lg:block fixed inset-y-0 left-0">
      <!-- Sidebar content -->
      <% unless controller_name == 'home' && action_name == 'index' %>
        <%= render 'shared/sidebar' %>
      <% end %>
    </aside>
 <br><br><br>
    <div class="flex-1 flex flex-col lg:ml-64 p-4 lg:p-8">
      <!-- Notification -->
      <p class="text-green-400 mb-6 bg-gray-800 p-4 rounded-lg shadow-lg border-l-4 border-green-500">
        <%= notice %>
      </p>

      <!-- Page title and button -->
      <section class="flex flex-col lg:flex-row lg:items-center lg:justify-between mb-8">
        <h1 class="text-3xl lg:text-4xl font-extrabold text-white border-b-2 border-gray-700 pb-2 lg:mb-0 mb-4">
          Projetos
        </h1>
        <%= link_to "Novo Projeto", new_project_path, class: "bg-blue-600 text-white py-2 px-4 lg:py-3 lg:px-6 rounded-lg shadow-lg border border-blue-700 hover:bg-blue-700 transition ease-in-out duration-300" %>
      </section>

      <!-- Projects list -->
      <div id="projects" class="grid grid-cols-1 gap-6 mt-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <% @projects.each do |project| %>
          <div class="p-6 bg-gray-800 rounded-lg shadow-lg hover:bg-gray-700 transition ease-in-out duration-200 border border-gray-600">
            <%= render project %>
            <div class="flex justify-center mt-4">
              <%= link_to "Ver Projeto", project, class: "text-blue-400 hover:text-blue-600 transition duration-200" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script>
    // Toggle sidebar visibility on mobile
    document.getElementById('menu-toggle').addEventListener('click', function() {
      const sidebar = document.querySelector('aside');
      sidebar.classList.toggle('lg:hidden');
    });
  </script>
</body>
</html>
