<div class="w-full mx-auto p-4 sm:p-8 bg-gradient-to-br from-gray-900 to-gray-800 text-white rounded-lg shadow-lg">
  <p class="text-lg font-semibold mb-4">Publicado por: <%= @project.user.name if @project.user %></p>
  
  <!-- Project Details -->
  <div class="bg-gray-850 p-6 rounded-lg shadow-md mb-6 flex flex-col md:flex-row md:items-start">
    <div class="flex-1 mb-4 md:mb-0 md:mr-4">
      <h1 class="text-4xl font-bold mb-4 text-gray-200"><%= @project.title %></h1>
      
      <% if @project.image.attached? %>
        <div class="relative mb-4">
          <%= image_tag @project.image, class: "w-full h-64 md:h-80 object-cover rounded-lg shadow-lg border border-gray-700" %>
          <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-50 rounded-lg"></div>
        </div>
      <% end %>
    </div>
    
    <div class="flex-1 space-y-4">
      <p>
        <strong class="text-lg text-gray-300">Objetivo:</strong>
        <span class="block text-gray-400"><%= @project.ds_project %></span>
      </p>

      <p>
        <strong class="text-lg text-gray-300">Funcionalidades:</strong>
        <span class="block text-gray-400"><%= @project.features %></span>
      </p>

      <p>
        <strong class="text-lg text-gray-300">Guia de Uso:</strong>
        <span class="block text-gray-400"><%= @project.guide %></span>
      </p>

      <p>
        <strong class="text-lg text-gray-300">Link do GitHub:</strong>
        <span class="block">
          <%= link_to @project.github_link, @project.github_link, target: "_blank", class: "text-blue-400 hover:underline transition duration-200 transform hover:scale-105" %>
        </span>
      </p>

      <p>
        <strong class="text-lg text-gray-300">Investimento Necessário:</strong>
        <span class="block">R$ <%= number_to_currency(@project.investment) %></span>
      </p>
    </div>
  </div>

  <!-- Actions -->
  <div class="flex flex-col md:flex-row justify-between items-center space-x-0 md:space-x-4 mt-6">
    <%= link_to "Voltar a Projetos", projects_path, class: "bg-gray-700 text-white rounded-md py-2 px-4 mb-2 md:mb-0 hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-200 transform hover:scale-105" %>
    
    <% if @project.user == current_user %>
      <div class="flex space-x-4">
        <%= link_to 'Editar', edit_project_path(@project), class: "bg-blue-700 text-white rounded-md py-2 px-4 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-600 transition duration-200 transform hover:scale-105" %>
        <%= button_to 'Apagar', @project, method: :delete, data: { confirm: 'Tem certeza que deseja apagar este projeto?' }, class: "bg-red-700 text-white rounded-md py-2 px-4 hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-red-600 transition duration-200 transform hover:scale-105" %>
      </div>
    <% end %>
  </div>
<br><br>
<hr>
<section class="bg-gray-900 py-6 px-4">
  <!-- Comments Section -->
<h2 class="text-3xl font-bold text-white mb-4">
  Comentários <span class="text-gray-400">(<%= @comments.count %>)</span>
</h2>


  <%= form_with(model: [@project, @comment], local: true) do |form| %>
    <div class="mb-6">
      <%= form.label :body, "Seu comentário", class: "block text-gray-200 font-semibold" %>
      <%= form.text_area :body, class: "mt-2 block w-full rounded-md bg-gray-800 border border-gray-700 text-white shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-400 focus:ring-opacity-50", rows: 3 %>
    </div>
    <div>
      <%= form.submit "Comentar", class: "bg-blue-600 text-white rounded-md py-2 px-6 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200 transform hover:scale-105" %>
    </div>
  <% end %>

  <div class="mt-6 space-y-4">
    <% @comments.each do |comment| %>
      <div class="bg-gray-800 rounded-lg p-4 shadow-lg transition-transform duration-200 hover:shadow-xl">
        <p class="text-gray-300"><strong><%= comment.user.name %>:</strong> <%= comment.body %></p>
        <p class="text-sm text-gray-400"><%= time_ago_in_words(comment.created_at) %> atrás</p>
        <% if comment.user == current_user %>
          <%= link_to 'Excluir', project_comment_path(@project, comment), method: :delete, data: { confirm: 'Tem certeza que deseja excluir este comentário?' }, class: 'text-red-400 hover:underline' %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
