<h2 class="text-4xl font-extrabold text-white mb-8 text-center">Esqueceu sua senha?</h2>

<div class="max-w-md mx-auto bg-gray-800 p-8 rounded-lg shadow-lg">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <%= f.label :email, class: "block text-lg font-medium text-gray-300 mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full px-4 py-3 bg-gray-700 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out" %>
    </div>

    <div class="text-center">
      <%= f.submit "Send Reset Instructions", class: "w-full py-3 px-6 border border-transparent rounded-md shadow-md text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-200 ease-in-out" %>
    </div>
  <% end %>
</div>
