<h2 class="text-3xl font-bold text-white mb-6">Editar Usuário</h2>

<div class="mx-auto bg-gray-800 p-6 rounded-lg shadow-lg max-w-lg">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
        <%= f.label :profile_image, "Imagem de Perfil", class: "block text-sm font-medium text-gray-300" %>
        <%= f.file_field :profile_image, class: "mt-1 block w-full px-3 py-2 text-white rounded-md" %>
    </div>

    <div class="field mb-4">
      <%= f.label :email, class: "block text-sm font-medium text-gray-300" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-base" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="mb-4 text-gray-400">
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </div>
    <% end %>

    <div class="field mb-4">
      <%= f.label :password, class: "block text-sm font-medium text-gray-300" %> 
      <i class="text-gray-400">(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-base" %>
      <% if @minimum_password_length %>
        <br />
        <em class="text-gray-400"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field mb-4">
      <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-300" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-base" %>
    </div>

    <div class="field mb-4">
      <%= f.label :current_password, class: "block text-sm font-medium text-gray-300" %> 
      <i class="text-gray-400">(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 sm:text-base" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
  <% end %>
</div>

<h3 class="text-lg font-semibold text-white mt-8">Cancel my account</h3>

<div class="mt-4 text-gray-300">
  Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "text-red-600 hover:text-red-500 font-semibold" %>
</div>

<%= link_to "Back", :back, class: "text-indigo-400 hover:text-indigo-300 mt-4 inline-block" %>
