<nav class="bg-gray-800 p-4 shadow-lg">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo com tamanho ajustado -->
        <%= link_to '#', class: 'text-white text-3xl font-bold hover:text-green-400 transition duration-300' do %>
            Logo
        <% end %>

        <!-- Links desktop visíveis apenas em telas md+ -->
        <div class="hidden md:flex space-x-8">
            <%= link_to 'Cadastrar', new_registration_path(resource_name), class: 'text-gray-300 hover:text-white font-semibold transition duration-300' %>
            <%= link_to 'Entrar', new_session_path(resource_name), class: 'text-gray-300 hover:text-white font-semibold transition duration-300' %>
        </div>

        <!-- Botão do menu mobile visível apenas em telas menores que md -->
        <div class="md:hidden">
            <button id="menu-button" class="text-white focus:outline-none">
                <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>

    <!-- Menu mobile oculto por padrão, visível em telas menores que md -->
    <div id="mobile-menu" class="md:hidden hidden flex flex-col bg-gray-700 mt-2 py-4 px-2 rounded-lg shadow-md">
        <%= link_to 'Cadastrar', new_registration_path(resource_name), class: 'block px-4 py-2 text-gray-300 hover:text-white hover:bg-gray-600 rounded transition duration-300' %>
        <%= link_to 'Entrar', new_session_path(resource_name), class: 'block px-4 py-2 text-gray-300 hover:text-white hover:bg-gray-600 rounded transition duration-300' %>
    </div>
</nav>

<script>
    // Lógica para abrir/fechar o menu mobile
    document.getElementById('menu-button').addEventListener('click', function() {
        var menu = document.getElementById('mobile-menu');
        menu.classList.toggle('hidden');
    });
</script>


<div class="flex justify-center items-center my-6 md:my-12 md:space-x-8">
  <!-- Formulário de Cadastro -->
  <div class="signup w-full md:w-1/2 p-8 bg-gray-900 bg-opacity-95 rounded-lg shadow-2xl border border-gray-700">
    <h2 class="text-3xl font-bold text-white mb-6 text-center">Cadastrar-se</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'space-y-6' }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <!-- Nome -->
      <div class="field">
        <%= f.label :nome, class: 'block text-sm font-medium text-gray-200' %>
        <%= f.text_field :name, class: 'mt-1 block w-full px-4 py-2 border border-gray-600 bg-gray-800 text-white rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm transition duration-200' %>
      </div>

      <!-- Tipo de Usuário -->
      <div class="field">
        <%= f.label :Qual_sua_finalidade?, class: 'block text-sm font-medium text-gray-200' %>
        <%= f.select :user_type, options_for_select([['Ser Investidor nos projetos', 'investor'], ['Quero publicar meus projetos', 'technology_creator']]), {}, class: 'mt-1 block w-full px-4 py-2 border border-gray-600 bg-gray-800 text-white rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm transition duration-200' %>
      </div>

      <!-- Email -->
      <div class="field">
        <%= f.label :email, class: 'block text-sm font-medium text-gray-200' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'mt-1 block w-full px-4 py-2 border border-gray-600 bg-gray-800 text-white rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm transition duration-200' %>
      </div>

      <!-- Senha -->
      <div class="field">
        <%= f.label :Senha, class: 'block text-sm font-medium text-gray-200' %>
        <% if @minimum_password_length %>
          <em class="text-xs text-gray-400">(<%= @minimum_password_length %> caracteres no mínimo)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'mt-1 block w-full px-4 py-2 border border-gray-600 bg-gray-800 text-white rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm transition duration-200' %>
      </div>

      <!-- Confirmação de Senha -->
      <div class="field">
        <%= f.label :Confirmação_de_senha, class: 'block text-sm font-medium text-gray-200' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'mt-1 block w-full px-4 py-2 border border-gray-600 bg-gray-800 text-white rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm transition duration-200' %>
      </div>

      <!-- Imagem de Perfil -->
      <div class="field">
        <%= f.label :profile_image, "Imagem de Perfil", class: 'block text-sm font-medium text-gray-200' %>
        <%= f.file_field :profile_image, class: 'mt-1 block w-full text-sm text-gray-400 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-green-50 file:text-green-700 hover:file:bg-green-100 transition duration-200' %>
      </div>

      <!-- Botão de Cadastro -->
      <div class="actions">
        <%= f.submit "Cadastrar", class: 'w-full bg-blue-700 hover:bg-green-700 text-white font-bold py-3 px-4 rounded-lg shadow-lg transition-colors duration-300 ease-in-out' %>
      </div>
    <% end %>
  </div>
</div>

<!-- Script para Interação com o Campo de Upload -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var fileInput = document.getElementById('profile_image');
    var fileLabel = document.querySelector('.file-label');
    
    fileInput.addEventListener('change', function() {
      if (fileInput.files.length > 0) {
        fileLabel.textContent = fileInput.files[0].name;
      } else {
        fileLabel.textContent = 'Escolher arquivo';
      }
    });
  });
</script>
